/* Container for the whole form */
.DataCapture {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    max-width: auto;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
  }
  p{
    color: #333333;
    font: 17px;
  }
  /* Table styles for Study Name, Protocol ID, etc. */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    font-size: 14px;
  }
  
  table th {
     
    color: #000000;
  }
  .subject-registration{
    color: #ffffff;
    background: #362CA6;
    display: flex;
    padding: 5px;
    font-size: 14px;
    height: 30px;
    /* text-align: center; */
   
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }

  /* Form input field styles */
  form div {
    margin-bottom: 15px;
  }
  
  form label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
    width:15%;
    
  }
  
  form input[type="text"],
  form input[type="date"],
  form textarea,
  form select {
    width: 30%;
    padding: 10px ;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  form input[type="text"]:read-only {
    background-color: #e9ecef;
  }
  
  form textarea {
    resize: vertical;
   
    height: 50px;
  }
  
  /* Button styles */
  form button[type="submit"],
  form button[type="button"] {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button[type="button"] {
    background-color: #f44336;
  }
  
  form button[type="submit"]:hover,
  form button[type="button"]:hover {
    opacity: 0.9;
  }
  
  /* Styles for the Subjects Dashboard */
  h2 {
    margin-top: 30px;
    font-size: 24px;
    color: #333;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* 'Go' button style */
  /* button {
    padding: 10px 20px;
    background-color: hsl(272, 92%, 46%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 200px;
  }
  
  button:hover {
    background-color: #0056b3;
  } */
  .subject-status{
    padding-top: 20px;
  }
.subject-status tr td{
 padding-right: 30px;
}