/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0px; 
} */
.header{
  display:flex;
  flex-direction: column;
  padding-bottom: 0px;
}
.header1{
  display: flex;
  
}
.header2{
  
  display: flex;
 
  text-align: right;
}
.logo {
  width: 100px; /* Set a smaller width for the logo */
  height: auto; /* Maintain aspect ratio */
  max-height: 100px; /* Limit the height of the logo */
  padding-left: 10px;
}

.title-container {
  flex: 1; /* Allow the title container to grow and center elements */
  text-align: center; /* Center the h1 text */
  color: gray;
}

h5,
.link {
  /* display: flex;  */
  /* Use flex to align items in a row */
  /* justify-content: flex-end;  */
  /* Align to the right */
  align-items:center; /* Center vertically */
  margin-left: 10px;
  padding-right: 15px;
  margin-top: 50px;
}
