/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0px; 
} */
.header{
  display:flex;
  flex-direction: column;
  
}
.header1{
  display: flex;
  width: 100%;
  padding-bottom: 0px;
}
.header2{
  display: flex;
 justify-content: flex-end;
 align-items: center;
 margin-right: 10px;

 /* flex-direction: row; */
 
}
.logo {
  width: 100px; /* Set a smaller width for the logo */
  height: auto; /* Maintain aspect ratio */
  max-height: 100px; /* Limit the height of the logo */
  padding-left: 10px;
}

.title-container {
  flex: 1;
    /* Allow the title container to grow and center elements */
  text-align: center; /* Center the h1 text */
font-size: 24px;
  color: gray;
  margin-top: 25px;
  
  
}
